
*{
  font-size: 2.3rem;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  padding: 2rem;
}

.total-container {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-product-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.del-button{
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 13rem;
  border-style: hidden;
  border-radius: 1.2rem;
  color: black;
  cursor: pointer;
  background-color:rgb(243, 113, 26);
  margin-bottom: 1.2rem;
  font-weight: bold;
}
.del-button:hover{
  background-color: rgb(243, 140, 72);
  color: black;
  font-weight: bolder;

}

.pay {
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 13rem;
  border-style: hidden;
  border-radius: 1.2rem;
  color: black;
  cursor: pointer;
  background-color: rgb(243, 113, 26);
  margin-bottom: 1.2rem;
  font-weight: bold;
}

.buy-container {
  margin-top: 0.5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-items {
  font-size: 2rem;
}

.back-shop {
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 15rem;
  border-style: hidden;
  border-radius: 1.2rem;
  color: black;
  cursor: pointer;
  background-color:rgb(243, 113, 26);
  margin-bottom: 1.2rem;
}
.back-shop:hover {
  background-color: rgb(243, 140, 72);
  color: black;
  font-weight: bolder;
}


