
.container{
    margin: 20px;
}

button{
    background-color:cornsilk;
    font-weight: lighter;
    border-radius: 6px;
    border-width: 1px;
}

.item{
    margin: 10px 10px;
    font-size: 20px;
}

